<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="HandheldFriendly" content="true">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Restoran</title>
</head>
<body>
    <button class="button-href" type="button"><a href="/customers/logout" class="a-link">Logout</a></button>

    <div class="container">
    <div>
        <a class="button-href" href="/food/restaurant_food/special_prices" class="a-link">Special prices</a>
        <a class="button-href" href="/food/restaurant_food/most_popular" class="a-link">Most popular</a>
        <ul id="selected_products"></ul>
        <select id="nacin_placanja">
            <option>Credit Card</option>
            <option>Cash</option>
        </select>
        <input type="number" id="vrijeme_dostave" placeholder="delivery date">
        <button class="button" onclick="submitOrder('<%= id%>')">Submit</button>
    </div>
    <div style="overflow-x:auto;">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Name</th>
            </tr>
            </thead>
            <tbody>
                <%for (var i=0; i<products.length; i++) {%>
                    <tr>
                        <td onclick="addToMenu('<%= products[i].id %>', '<%= products[i].name %>', '<%= products[i].unit_price %>')"><%= products[i].name%></td>
                    </tr>
                <%}%>
            </tbody>
            </table> 
        </div>
        </div>
        <script>
            const array_products = {};
            function addToMenu(id, name, unit_price) {
                if(array_products.hasOwnProperty(id)) {
                    array_products[id].quantity += 1
                    array_products[id].counter += 1
                    array_products[id].unit_price += parseInt(unit_price)
                }
                else {
                    array_products[id] = {
                        quantity: 1,
                        name: name,
                        unit_price: parseInt(unit_price)
                    }
                }
                $('#selected_products').empty();
                populateProductsList();
            }
            function populateProductsList() {
                Object.keys(array_products).map(e => {
                    $("#selected_products").append("<li>" + array_products[e].name + ":" + array_products[e].quantity + "-" + array_products[e].unit_price +  "</li>")
                })
            }
            function submitOrder(id) {
                console.log(array_products);
                let payment_type = $('#nacin_placanja').val();
                console.log(payment_type);
                if(Object.keys(array_products).length == 0){
                    return;
                }
                fetch(`https://obscure-tor-74226.herokuapp.com/orders/${id}/submit_order`,{
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        payment_type: payment_type,
                        body: array_products,
                        delivery_time: $('#vrijeme_dostave').val()
                    })
                })
                .then(response => {
                    alert('Pogledajte e-mail postu!');
                })
                .catch(err => {
                    console.log(err);
                })
            }
        </script>
</body>
</html>