<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="HandheldFriendly" content="true">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Restoran</title>
</head>
<body>
  <a class="button-href" href="/restaurants/all_restaurants" class="a-link">Back</a>
  <div style="overflow-x:auto;" class="container">
    <table class="table">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Last Name</th>
            </tr>
          </thead>
          <tbody>
              <%for (var i=0; i<employers.length; i++) {%>
                  <tr>
                      <td><%= employers[i].name%></td>
                      <td><%= employers[i].last_name%></td>
                  </tr>
              <%}%>
          </tbody>
        </table>
      </div>
      <div class="d-grid gap-2 col-6 mx-auto">
        <a class="button-href" href="/users/new_employee/<%= id %>" class="a-link">Add a new employee</a>
        <a class="button-href" href="/food/restaurant_food/<%= id %>" class="a-link">Articles</a>
        <a class="button-href" href="/users/all_orders/<%= id%>" class="a-link">All orders</a>
      </div>
    </body>
    </html>
